<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - My Account</title>
    <meta content="Azury - My Account" property="og:title">
    <meta content="Azury - My Account" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;">
    <div class="mobileSpoiler-1mb3vv">
      <i class="fas fa-mobile"></i>
      <p>Azury is not yet ready for mobile devices.</p>
    </div>
    
    <div class="app">
      <%- include('../partials/sidenavigation'); %>
      <div class="sidebar-rwlef6">
        <div class="links-sxdz75">
          <h3>User Settings</h3>
          <div class="link-75c2f3" onclick="tab('my-account')">My Account</div>
          <div class="link-75c2f3" onclick="tab('subscriptions')">Subscriptions</div>
          <div class="link-75c2f3" onclick="tab('privacy')">Privacy & Safety</div>
          <h3>App Settings</h3>
          <div class="link-75c2f3" onclick="tab('appearance')">Appearance</div>
          <div class="link-75c2f3" onclick="tab('advanced')">Advanced</div>
          <h3>Developer Settings</h3>
          <div class="link-75c2f3" onclick="tab('access')">Manage Access</div>
          <h3>Service</h3>
          <div class="link-75c2f3" onclick="window.location.href='/changelog'">Change Log</div>
        </div>
        <div class="version-5llh09">Stable <%= version %></div>
      </div>
    
      <div class="container-ivnfmj">
        <%- include('../partials/navigation'); %>
    
        <div class="wrapper-s3en1r">
          <div class="container-ahg65x scroller-ffigeh">
            <div class="wrapper-40j482">
              <h1 class="title-o67asw">My Account</h1>
              <div class="userWrapper-vjkqic">
                <div class="column-o8n24w">
                  <img src="https://cdn.discordapp.com/avatars/<%= u.id %>/<%= u.avatar %>" alt="error">
                  <h1>@<b>Azury</b></h1>
                  <div class="row-9hqhf7">
                    <% if (user.flags.includes('0')) { %>
                      <div class="badges-0sk43k badge-ra8h1v">
                        <img src="https://cdn.jsdelivr.net/gh/azuryofficial/assets/7b0ee0bcf5cd.svg" alt="error">
                      </div>
                    <% } if (user.flags.includes('1')) { %>
                      <div class="badges-0sk43k badge-6r8c5b">
                        <img src="https://cdn.jsdelivr.net/gh/azuryofficial/assets/7278be0556c6.png" alt="error">
                      </div>
                    <% } if (user.flags.includes('2')) { %>
                      <div class="badges-0sk43k badge-f3lamf">
                        <img src="https://cdn.jsdelivr.net/gh/azuryofficial/assets/8bd23ab9f9ac.svg" alt="error">
                      </div>
                    <% } if (user.flags.includes('3')) { %>
                      <div class="badges-0sk43k badge-sen7ms">
                        <img src="https://cdn.jsdelivr.net/gh/azuryofficial/assets/033d9e19cde2.svg" alt="error">
                      </div>
                    <% } %>
                  </div>
                </div>
                <div class="information-kdg4xp">
                  <div class="row-p7hg7j">
                    <div class="column-xl99n2">
                      <i class="fal fa-fingerprint"></i>
                      <div class="name-e3cyok">
                        <h3>User ID</h3>
                        <p><%= u.id %></p>
                      </div>
                    </div>
                    <i class="fas fa-copy copy-aozx9w" onclick="copy('<%= u.id %>')"></i>
                  </div>
                  <div class="row-p7hg7j">
                    <div class="column-xl99n2">
                      <i class="fal fa-text"></i>
                      <div class="name-e3cyok">
                        <h3>Typeface</h3>
                        <p class="activeTypeface-coo1pw">Poppins</p>
                      </div>
                    </div>
                    <button class="btn-j85yzo font-uvhhoh">Edit</button>
                  </div>
                  <div class="row-p7hg7j">
                    <div class="column-xl99n2">
                      <i class="fal fa-tint"></i>
                      <div class="name-e3cyok">
                        <h3>Accent Color</h3>
                        <p class="activeAccentColor-amipma">Blurple</p>
                      </div>
                    </div>
                    <div class="accentColor-mqmnem"></div>
                  </div>
                  <div class="row-p7hg7j">
                    <div class="column-xl99n2">
                      <i class="fal fa-lock-alt"></i>
                      <div class="name-e3cyok">
                        <h3>Access Token</h3>
                        <p><%= user.token %></p>
                      </div>
                    </div>
                    <i class="fas fa-copy copy-aozx9w" onclick="copy('<%= user.token %>')"></i>
                  </div>
                </div>
                <div class="footerSettings-n3op5b">
                  <button class="btn-kFpsaU userData-jej4ui">View Data</button>
                  <a onclick="deleteUserWarning()">Delete Account</a>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div> 

    <%- include('../partials/popups') %>
    <%- include('../partials/cookie-notice') %>
  </body>
</html>