<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - My Account</title>
    <meta content="Azury - My Account" property="og:title">
    <meta content="Azury - My Account" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;">
    <div class="app">
      <%- include('../partials/sidenavigation'); %>
      <div class="sidebar-rwlef6">
        <div class="links-sxdz75">
          <h3>User Settings</h3>
          <div data-tab="myAccount-bpkg3x" class="link-waegcb defaultTab-owiopw">My Account</div>
          <!-- <div data-tab="subscriptions-cuda6r" class="link-waegcb">Subscriptions</div>
          <div class="link-waegcb">Privacy & Safety</div>
          <h3>App Settings</h3>
          <div class="link-waegcb">Appearance</div>
          <div class="link-waegcb">Advanced</div>
          <h3>Developer Settings</h3>
          <div class="link-waegcb">Manage Access</div> -->
          <h3>Service</h3>
          <div class="link-waegcb" onclick="window.location.href='/changelog'">Change Log</div>
        </div>
        <div class="version-5llh09">Stable <%= version %></div>
      </div>
    
      <div class="container-ivnfmj">
        <div class="wrapper-s3en1r">
          <div class="container-ahg65x scroller-ffigeh">

            <div class="tabGroup-bpkg3x myAccount-bpkg3x">
              <h1 class="title-o67asw">My Account</h1>
              <div class="userWrapper-vjkqic">
                <div class="column-o8n24w">
                  <img src="https://cdn.discordapp.com/avatars/<%= u.id %>/<%= u.avatar %>" alt="error">
                  <div class="row-ij9pr3">
                    <h1>@<b><%= user.username %></b></h1> <i class="fas fa-pen changeUsername-10haym" onclick="changeUsername()"></i>
                  </div>
                  <div class="row-9hqhf7">
                    <% if (user.flags.includes('0')) { %>
                      <div class="badges-0sk43k badge-ra8h1v">
                        <img src="https://cdn.jsdelivr.net/gh/azuryofficial/assets/7b0ee0bcf5cd.svg" alt="error">
                      </div>
                    <% } if (user.flags.includes('1')) { %>
                      <div class="badges-0sk43k badge-6r8c5b">
                        <img src="https://cdn.jsdelivr.net/gh/azuryofficial/assets/7278be0556c6.png" alt="error">
                      </div>
                    <% } if (user.flags.includes('2')) { %>
                      <div class="badges-0sk43k badge-f3lamf">
                        <img src="https://cdn.jsdelivr.net/gh/azuryofficial/assets/8bd23ab9f9ac.svg" alt="error">
                      </div>
                    <% } if (user.flags.includes('3')) { %>
                      <div class="badges-0sk43k badge-sen7ms">
                        <img src="https://cdn.jsdelivr.net/gh/azuryofficial/assets/033d9e19cde2.svg" alt="error">
                      </div>
                    <% } %>
                  </div>
                </div>
                <div class="information-kdg4xp">
                  <div class="row-p7hg7j">
                    <div class="column-xl99n2">
                      <i class="fal fa-fingerprint"></i>
                      <div class="name-e3cyok">
                        <h3>User ID</h3>
                        <p><%= u.id %></p>
                      </div>
                    </div>
                    <button class="btn-kFpsaU" onclick="copy('<%= u.id %>')">Copy</button>
                    <!-- <i class="fas fa-copy copy-aozx9w" onclick="copy('<%= u.id %>')"></i> -->
                  </div>
                  <div class="row-p7hg7j">
                    <div class="column-xl99n2">
                      <i class="fal fa-lock-alt"></i>
                      <div class="name-e3cyok">
                        <h3>Access Token</h3>
                        <p><%= user.token %></p>
                      </div>
                    </div>
                    <button class="btn-kFpsaU" onclick="copy('<%= user.token %>')">Copy</button>
                    <!-- <i class="fas fa-copy copy-aozx9w" onclick="copy('<%= user.token %>')"></i> -->
                  </div>
                </div>
                <div class="footerSettings-n3op5b">
                  <button class="btn-kFpsaU userData-jej4ui">Read Data</button>
                  <a onclick="deleteUserWarning()">Delete Account</a>
                </div>
              </div>
            </div>

            <div class="tabGroup-bpkg3x subscriptions-cuda6r">
              <h3>Subscriptions</h3>
            </div>


          </div>
        </div>
      </div>
    </div> 

    <%- include('../partials/popups') %>
    <%- include('../partials/cookie-notice') %>
  </body>
</html>