<!DOCTYPE html>
<html>
  <head divfix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - Changelog</title>
    <meta content="Azury - Changelog" property="og:title">
    <meta content="Azury - Changelog" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;">
    <%- include('../partials/mobileWrapper'); %>

    <div class="website-3tuja6">
      <header class="header-kwv5dk">
        <%- include('../partials/header.ejs') %>
      </header>

      <div class="changelog-5hgzg8">
        <h1>Changelog</h1>
        <div class="wrapper-oum06m"></div>
      </div>

      <footer class="footer-hqhg00">
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>

    <%- include('../partials/cookie-notice'); %>
    <script src="/assets/8f99958bf0200bb5.js"></script>
  </body>
</html>
