<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - Download <%= file.name %><%= file.type%></title>
    <meta content="Azury - Download <%= file.name %><%= file.type%>" property="og:title">
    <meta content="Azury - Download <%= file.name %><%= file.type%>" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;">
    <%- include('../partials/mobileWrapper'); %>

    <div class="bigWrapper-tfakxo">
      <header class="header-t8w892">
        <%- include('../partials/header.ejs') %>
      </header>
  
      <div class="wrapper-5h9abc">
        <div class="file-5ejj3g">
          <i class="fas <%= file.icon %>"></i>
          <div class="row-nlg1gn"> 
            <h1><%= file.name %><small><%= file.type %></small></h1>
            <span class="fileCategory-51s4ny"><%= file.category %></span>
          </div>
          <div class="details-235rzk">
            <p>
              <i class="material-icons-outlined">file_download</i>
              <%= file.readableSize %>
            </p>
            <p>
              <i class="material-icons-outlined">calendar_today</i>
              <%= date(file.uploadedAt).format('LL') %>
            </p>
          </div>
          <a href="<%= file.downloadURL %>" download>
            <button class="btn-kFpsaU">Download File</button>
          </a>
        </div>
      </div>
  
      <footer class="footer-9sx6m9">
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>
    
    <%- include('../partials/popups'); %>
    <%- include('../partials/cookie-notice'); %>
    <script>
      tip ('.fileCategory-51s4ny', 'File Tagged As <%= file.tag %>')
    </script>
  </body>
</html>
