<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - Unlimited File-Sharing</title>
    <meta content="Azury - Unlimited File-Sharing" property="og:title">
    <meta content="Azury - Unlimited File-Sharing" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;" class="app-3tqbvz">
    <div class="website-3tuja6">
      <header class="header-i5rlgr">
        <%- include('../partials/header.ejs') %>
      </header>
  
      <div class="hero-xe4mq2">
        <div class="column-apecj9">
          <h1>Sharing done right.</h1>
          <p>Share an unlimited amount of files up to 50 MB each for free within seconds - easily and without intrusive advertising.</p>
        </div>
        <img src="https://cdn.jsdelivr.net/gh/azuryofficial/static@1.1/02a681bf4179.svg" alt="error">
      </div>
    
      <div id="statistics" class="statistics-mthyiv">
        <h2 data-aos="fade-down">Statistics</h2>

        <div data-aos="fade-up" class="row-mqrna5">
          <div class="column-cclmzz">
            <div class="iconWrapper-irpc4o">
              <i class="fas fa-user"></i>
            </div>
            <h3>Members</h3>
            <p><%= stats.members %></p>
          </div>
          <div class="column-cclmzz">
            <div class="iconWrapper-irpc4o">
              <i class="fas fa-users"></i>
            </div>
            <h3>Teams</h3>
            <p><%= stats.teams %></p>
          </div>
          <div class="column-cclmzz">
            <div class="iconWrapper-irpc4o">
              <i class="fas fa-copy"></i>
            </div>
            <h3>Files</h3>
            <p><%= stats.files %></p>
          </div>
          <div class="column-cclmzz">
            <div class="iconWrapper-irpc4o">
              <i class="fas fa-server"></i>
            </div>
            <h3>Storage</h3>
            <p><%= stats.readableStorage %></p>
          </div>
        </div>
      </div>
  
      <footer class="footer-jf4h2z">
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>
    
    <%- include('../partials/cookie-notice'); %>
  </body>
</html>
