<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - Inventory</title>
    <meta content="Azury - Inventory" property="og:title">
    <meta content="Azury - Inventory" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;">
    <div class="mobileSpoiler-1mb3vv">
      <i class="fas fa-mobile"></i>
      <p>Azury is not yet ready for mobile devices.</p>
    </div>
    
    <div class="app">
      <%- include('../partials/sidenavigation'); %>

      <div class="container-i0qpo7">
        <%- include('../partials/navigation'); %>
    
        <div class="wrapper-s3en1r">
          <div class="container-ahg65x scroller-ffigeh"> 
            <div class="wrapper-40j482">
              <div class="row-chazt8">
                <input type="text" class="searchbar-7zbruk" id="searchbar" onkeyup="search()" placeholder="Search File...">
                <div class="options-sf1c0v">
                  <i class="material-icons-round toggleGrid-iqpt69 toggle-9gexqa">view_module</i>
                  <i class="material-icons-round toggleList-9aylap toggle-9gexqa">view_list</i>
  
                  <i class="material-icons-round toggleFavorites-s8pi55 toggle-dyc114">favorite_border</i>
                  <i class="material-icons-round toggleFavorites-uayo0q toggle-dyc114">favorite</i>
                  
                  <div class="row-23omrp">
                    <input type="file" class="input-qzb607" id="file" data-upload="user">
                    <label for="file">
                      <i class="material-icons-outlined upload-pylec6">file_upload</i>
                    </label>
                  </div>
                </div>
              </div>
              
              <% if (files != null && files != 'undefined' && files != '') { %>
                <div class="wrapperInner-xtc435">
                  <% files.forEach(function(file) { %>
                    <div data-template="template-<%= file._id %>" class="file-lemhr3 item-96xnxf <% if (file.flags.includes('favorite')) { %>favorite<% } %>">
                      <% if (file.type == '.zip' || file.type == '.rar') { %>
                        <i class="fas fa-file-archive"></i>    
                      <% } else if (file.type == '.html' || file.type == '.css' || file.type == '.ejs' || file.type == '.js' || file.type == '.py' || file.type == '.json') { %>
                        <i class="fas fa-file-code"></i>
                      <% } else if (file.type == '.png' || file.type == '.jpg' || file.type == '.jpeg' || file.type == '.gif' || file.type == '.svg' || file.type == '.psd') { %>
                        <i class="material-icons-outlined">image</i>
                      <% } else if (file.type == '.mp3' || file.type == '.wav') { %>
                        <i class="fas fa-file-music"></i>
                      <% } else if (file.type == '.mp4') { %>
                        <i class="material-icons-outlined">movie</i>
                      <% } else if (file.type == '.docx' || file.type == '.pdf') { %>
                        <i class="fas fa-file-alt"></i>
                      <% } else { %>
                        <i class="fas fa-file"></i>
                      <% } %>
                      <div class="title-ojp0kq">
                        <% if (file.type == '.zip' || file.type == '.rar') { %>
                          <i class="fas fa-file-archive"></i>    
                        <% } else if (file.type == '.html' || file.type == '.css' || file.type == '.ejs' || file.type == '.js' || file.type == '.py' || file.type == '.json') { %>
                          <i class="fas fa-file-code"></i>
                        <% } else if (file.type == '.png' || file.type == '.jpg' || file.type == '.jpeg' || file.type == '.gif' || file.type == '.svg' || file.type == '.psd') { %>
                          <i class="fas fa-file-image"></i>
                        <% } else if (file.type == '.mp3' || file.type == '.wav') { %>
                          <i class="fas fa-file-music"></i>
                        <% } else if (file.type == '.mp4') { %>
                          <i class="fas fa-file-video"></i>
                        <% } else if (file.type == '.docx' || file.type == '.pdf') { %>
                          <i class="fas fa-file-alt"></i>
                        <% } else { %>
                          <i class="fas fa-file"></i>
                        <% } %>
                        <div class="titleInner-hzsxux"><span><%= file.name %></span><b><%= file.type %></b></div>
                      </div>
  
                      <div class="info-xmghpq">
                        <% if (file.size < 1048576) { %>
                          <span><%= Math.round(file.size/1024) + ' KB' %></span>
                        <% } else { %>  
                          <span><%= Math.round(file.size/1024/1024) + ' MB' %></span>
                        <% } %>
                        <span><%= date(file.createdAt).format('LL') %></span>
                      </div>
                    </div>
  
                    <div id="template-<%= file._id %>" class="actions-1asr66">
                      <div class="action-m9sypr" onclick="userRename('<%= file._id %>')">
                        Rename
                      </div>
                      <div class="action-m9sypr" onclick="userCreateClone('<%= file._id %>')">
                        Create a Clone
                      </div>
                      <div class="action-m9sypr" onclick="userShare('<%= file._id %>')">
                        Share
                      </div>
                      <div class="action-m9sypr" onclick="copy('https://azury.gg/u/<%= file._id %>')">
                        Copy Link
                      </div>
                      <div class="action-m9sypr" onclick="copy('https://cdn.azury.gg/<%= u.id %>/<%= file._id %>/<%= file.name.replace(/[^a-z0-9]/gui, "").toLowerCase() %><%= file.type %>')">
                        Copy CDN Link
                      </div>
                      <div class="action-m9sypr" onclick="userToggleFavorite('<%= file._id %>')">
                        <% if (file.flags.includes('favorite')) { %>
                          Unmark as Favorite
                        <% } else { %>
                          Mark as Favorite
                        <% } %>
                      </div>
                      <div class="action-m9sypr" onclick="userToggleArchive('<%= file._id %>')">
                        Move to Archive
                      </div>
                      <!-- <div class="action-m9sypr">
                        Get QR Code
                      </div> -->
                      <div class="action-m9sypr" onclick="userShortLink('<%= file._id %>')">
                        Copy Short Link
                      </div>
                      <div class="separator-3i6ltg"></div>
                      <div class="action-m9sypr" onclick="userViewDetails('<%= file._id %>')">
                        View Details
                      </div>
                      <a class="action-m9sypr" href="https://cdn.azury.gg/<%= u.id %>/<%= file._id %>/<%= file.name.replace(/[^a-z0-9]/gui, "").toLowerCase() %><%= file.type %>" download="<%= file.name %>">
                        Download
                      </a>
                      <div class="separator-3i6ltg"></div>
                      <div class="action-m9sypr danger-hkfr30" onclick="userTrashFile('<%= file._id %>')">
                        Remove
                      </div>
                    </div>
                  <% }) %>
                </div>
              <% } else { %>
                <div class="noFile-8alx2j uploadNewFile-j3xij5">
                  <i class="material-icons-outlined">file_upload</i>
                  <p>Click here to add a new file.</p>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/popups') %>
    <%- include('../partials/cookie-notice') %>
    <script>
      if (navigator.cookieEnabled) {
        if (Cookies.get('token') == null) {
          Cookies.set('token', '<%= user.token %>', { expires: 999999, secure: true, sameSite: 'strict' })
        }
      } else {
        fail(400, 'Cannot Save Cookie')
      }
    </script>
  </body>
</html>