<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - Unlimited File-Sharing</title>
    <meta content="Azury - Unlimited File-Sharing" property="og:title">
    <meta content="Azury - Unlimited File-Sharing" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;" class="app-3tqbvz">
    <%- include('../partials/mobileWrapper'); %>

    <div class="website-3tuja6">
      <header class="header-iporgu">
        <%- include('../partials/header.ejs') %>
      </header>

      <div class="wrapper-sctgfk">
        <div class="plan-7rmrzf">
          <h1 class="nmpy4l">Basic</h1>  

          <ul>
            <li>Increased Upload Size <i class="fas fa-info-circle iih8g5"></i></li>
            <li>Adfree Experience <i class="fas fa-info-circle scsxy4"></i></li>
          </ul>

          <!-- <button class="btn-siwwws">Subscribe now</button> -->
          <span>Coming soon</span>
          <p>$4.99/month</p>
        </div>
        <div class="plan-7rmrzf">
          <h1 class="timu2q">Prime</h1>
          
          <ul>
            <li>Increased Upload Size <i class="fas fa-info-circle pujfnm"></i></li>
            <li>Adfree Experience <i class="fas fa-info-circle scsxy4"></i></li>
            <li>Early Access <i class="fas fa-info-circle kzadb2"></i></li>
            <li>Access To Exclusive Stuff <i class="fas fa-info-circle cygx1p"></i></li>
          </ul>

          <!-- <button class="btn-siwwws">Subscribe now</button> -->
          <span>Coming soon</span>
          <p>$9.99/month</p>
        </div>
        <div class="plan-7rmrzf">
          <h1 class="zrl1l7">Prime+</h1>

          <ul>
            <li>Increased Upload Size <i class="fas fa-info-circle w4cj5a"></i></li>
            <li>Adfree Experience <i class="fas fa-info-circle scsxy4"></i></li>
            <li>Early Access <i class="fas fa-info-circle kzadb2"></i></li>
            <li>Access To Exclusive Stuff <i class="fas fa-info-circle cygx1p"></i></li>
            <li>Prime Support <i class="fas fa-info-circle drzbah"></i></li>
          </ul>

          <!-- <button class="btn-siwwws">Subscribe now</button> -->
          <span>Coming soon</span>
          <p>$14.99/month</p>
        </div>
      </div>
  
      <footer class="footer-qdrwur">
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>
    
    <%- include('../partials/cookie-notice'); %>
  </body>
</html>