<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - Unlimited File-Sharing</title>
    <meta content="Azury - Unlimited File-Sharing" property="og:title">
    <meta content="Azury - Unlimited File-Sharing" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;" class="app-3tqbvz">
    <%- include('../partials/mobileWrapper'); %>

    <div class="website-3tuja6">
      <header class="header-iporgu">
        <%- include('../partials/header.ejs') %>
      </header>

      <div class="wrapper-sctgfk">
        <div class="plan-7rmrzf">
          <h1 class="nmpy4l">Basic</h1>  

          <ul>
            <li class="iih8g5">Increased Upload Size</li>
            <li class="scsxy4">Adfree Experience</li>
          </ul>

          <button class="btn-siwwws">Subscribe now</button>
          <p>$4.99/month</p>
        </div>
        <div class="plan-7rmrzf">
          <h1 class="timu2q">Prime</h1>
          
          <ul>
            <li class="pujfnm">Increased Upload Size</li>
            <li class="scsxy4">Adfree Experience</li>
            <li class="kzadb2">Early Access</li>
            <li class="cygx1p">Access To Exclusive Stuff</li>
          </ul>

          <button class="btn-siwwws">Subscribe now</button>
          <p>$9.99/month</p>
        </div>
        <div class="plan-7rmrzf">
          <h1 class="zrl1l7">Prime+</h1>

          <ul>
            <li class="w4cj5a">Increased Upload Size</li>
            <li class="scsxy4">Adfree Experience</li>
            <li class="kzadb2">Early Access</li>
            <li class="cygx1p">Access To Exclusive Stuff</li>
            <li class="drzbah">Prime Support</li>
          </ul>

          <button class="btn-siwwws">Subscribe now</button>
          <p>$14.99/month</p>
        </div>
      </div>
  
      <footer class="footer-qdrwur">
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>
    
    <%- include('../partials/cookie-notice'); %>
    <%- include('../partials/tips'); %>
    <% if (authenticated) { %>
      <script>
        interactiveTip ('avatar-if6jiw", "settingsDropdown-svgdhe", "bottom')
      </script>
    <% } %>
  </body>
</html>